body {
    margin: 0
}

.container {
    margin-left: 0; 
    margin-right: 0; 
    width: 100%; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    font-family: Montserrat; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1614210823/Group_247.1_pnk9ze.svg); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    overflow: auto;
}

#hamburger-menu {
    position: absolute;
    left: 95%;
    top: 3%;
    width: 3%;
    z-index: 20
  }

#leftSlide {
    z-index: 1; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%
}

#rightSlide {
    z-index: 1; 
    position: absolute; 
    left: 93.5%; 
    top: 45%; 
    width: 5%
}

#polygon {
    position: absolute; 
    left: 11%; 
    top: 70%; 
    width: 10%
}

#rect {
    position: absolute; 
    left: 81%; 
    top: 25%; 
    width: 5%
}

#ellipse {
    position: absolute; 
    left: 85%; 
    top: -12%; 
    width: 10%
}

#group1 {
    position: absolute; 
    left: 5%; 
    top: 5%; 
    width: 10%
}

#group2 {
    position: absolute; 
    left: 94%; 
    top: 80%; 
    width: 10%; 
    transform: rotate(80deg);
}

.header {
    width: 80%; 
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.logo {
    width: 30%; 
    z-index: 1;
}

.subtitle {
    width: 30%; 
    margin: 60px 40px 20px 40px; 
    text-align: center; 
    font-size: 26px; 
    color: #1E2228;
    line-height: 38px;
}

.speakerIcon {
    margin-bottom: 20px; 
    cursor: pointer; 
    width: 10%
}


@media only screen and (max-width: 1200px) {
    .subtitle {
      font-size: 20px !important;
      margin: 20px 40px 10px 40px;
      width: 40%
    }
}
  
@media only screen and (max-width: 700px) {
    .subtitle {
      font-size: 14px !important;
      margin: 10px 40px 5px 40px;
      width: 40%
    }  
}