body {
  margin: 0 !important
}

.container {
  width: 100%; 
  height: 100vh; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  font-family: Montserrat; 
  background-color: #D9ECEC;  
  margin-bottom: 0;
}

#hamburger-menu {
  position: absolute;
  left: 95%;
  top: 3%;
  width: 3%;
  z-index: 20
}

.dark-enable {
  font-size: 16px;
  font-weight: 500;
}

.theme-switch-wrapper {
  position: absolute;
  top: 3%;
  left: 2%;
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-right: 10px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #A9D3D0;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #0C193B;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #015EF4;
}

input:checked + .slider:before {
  background-color: #FFFFFF
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.header {
  z-index: 1; width: 100%; display: flex; justify-content: center;
}

.logo {
  width: 50%
}

.subtitle {
  margin: 40px; 
  font-size: 36px; 
  color: #1E2228; 
  z-index: 1; 
  text-align: center;
  
}

.start-button {
  z-index: 1; 
  width: 100%;
  display: flex; 
  justify-content: center;

}


.startButton-img {
  width: 12%
}

#rect{
    animation: rotation 40s infinite linear !important;
    position: absolute; left: 90%; top: 10%; width: 7%
}

#ellipse {
    animation: rotation 50s infinite linear !important;
    position: absolute; left: -14%; top: 38%; width: 21%
}

#group1 {
    animation: rotation 60s infinite linear !important;
    position: absolute; left: 82%; top: 80%; width: 14%
}

#group2 {
  animation: specialRotation 60s infinite linear !important;
}

#group3 {
  animation: verySpecialRotation 60s infinite linear !important;
  position: absolute; left: 20%; top: -9%; width: 14%; 
}

#group4 {
  animation: veryVerySpecialRotation 60s infinite linear !important;
}

#polygon {
    animation: rotation 80s infinite linear !important;
    position: absolute; left: 16%; top: 80%; width: 7%
}


@keyframes rotation {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

@keyframes specialRotation {
    0% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(80deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

@keyframes verySpecialRotation {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

@keyframes veryVerySpecialRotation {
    0% {
      transform: rotate(-120deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(-120deg);
    }
  }

#characterImage:hover {
    animation: move 0.7s !important;
}

#yangImage:hover {
    animation: move 0.6s !important;
}



@keyframes move {
    from {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(2deg);
    }
  }

@media only screen and (max-width: 1000px) {
  .subtitle {
    font-size: 26px !important;
  }
}

@media only screen and (max-width: 500px) {
  .subtitle {
    font-size: 18px !important;
  }
}