#rect{
    animation: rotation 40s infinite linear;
}

#ellipse {
    animation: rotation 50s infinite linear;
}

#group1, #group2 {
    animation: rotation 60s infinite linear;
}

#polygon {
    animation: rotation 80s infinite linear;
}


@keyframes rotation {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

#characterImage:hover {
    animation: move 0.7s ;
}

#yangImage:hover {
    animation: move 0.6s ;
}



@keyframes move {
    from {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(2deg);
    }
  }