body {
  margin: 0
}

#rect{
    animation: rotation 40s infinite linear;
}

#ellipse {
    animation: rotation 50s infinite linear;
}

#group1 {
    animation: rotation 60s infinite linear;
}

#group2 {
  animation: specialRotation 60s infinite linear;
}

#group3 {
  animation: verySpecialRotation 60s infinite linear;
}

#group4 {
  animation: veryVerySpecialRotation 60s infinite linear;
}

#polygon {
    animation: rotation 80s infinite linear;
}


@keyframes rotation {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

@keyframes specialRotation {
    0% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(80deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

@keyframes verySpecialRotation {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

@keyframes veryVerySpecialRotation {
    0% {
      transform: rotate(-120deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(-120deg);
    }
  }

#characterImage:hover {
    animation: move 0.7s ;
}

#yangImage:hover {
    animation: move 0.6s ;
}



@keyframes move {
    from {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(2deg);
    }
  }