body {
    margin: 0
}

.container {
    width: 100%;
    font-family: Montserrat; 
    height: 100%; 
    min-height: 100vh;
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    font-family: Montserrat; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613512200/Group_100_df9sqr.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.top {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 6%;
}

#hamburger-menu {
    position: absolute;
    left: 95%;
    top: 3%;
    width: 3%;
    z-index: 20
  }

.speakerIcon {
    cursor: pointer; 
    width: 4%; 
    margin-top: 0px;
    margin-bottom: 4%;
}

.speakerExtraContainer {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}

.speakerIcon.extra {
    cursor: pointer; 
    margin: 4% 8% 0 0 ;
    text-align: right;
    width: 9%;
}

#leftSlide {
    z-index: 2; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%
}

#rightSlide {
    z-index: 2; 
    position: absolute; 
    left: 93.5%; 
    top: 45%; 
    width: 5%
}

#ellipseBig {
    position: absolute; 
    left: 85%; 
    top: -12%; 
    width: 10%
}

#group2 {
    position: absolute; 
    left: 92%; 
    top: 80%; 
    width: 10%; 
    transform: rotate(80deg)
}

#ellipse {
    position: absolute; 
    left: 85%; 
    top: -11%; 
    width: 10%
}

#polygon {
    position: absolute; 
    left: 15%; 
    top: 10%; 
    width: 5%
}

#ellipse {
    position: absolute; 
    left: -10%; 
    top: 70%; 
    width: 14%
}

.header {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 60px;
}

.logo {
    width: 30%; 
    z-index: 1;
}

.direction {
    width: 40%; 
    margin: 40px 40px 0px 40px;  
    text-align: center; 
    font-size: 26px; 
    color: #1E2228;
    line-height: 38px;
}

.intro-wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613515299/Group_900_vqfefl.png); 
    width: 60%; 
    height: 100%; 
    background-size: 90% 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 20px ;
}

#charImage {
    z-index: 1; 
    width: 35%; 
    height: 75%; 
    margin-left: -15%;
}

.intro {
    width: 70%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding: 20px 0
}

.name {
    font-size: 40px; 
    margin-top: 0;
}

.title {
    font-size: 20px; 
    margin-top: -20px; 
    font-weight: bolder;
}

.bio {
    font-family: Montserrat; 
    margin-top: 20px; 
    display: flex; 
    align-items: center;
    font-weight: bolder;

}

.bio-wrapper {
    font-weight: 500; 
    font-size: 18px; 
    background-color: #DCEBEB; 
    border-radius: 20px; 
    width: 70%; 
    color: black; 
    padding: 20px 40px;
    line-height: 30px;
}

@media only screen and (max-width: 1200px) {
    .direction {
        font-size: 20px;
    }
    .name {
        font-size: 34px;
    }

    .title {
        font-size: 20px;
    }

    .bio-wrapper {
        font-size: 14px;
        margin-top: -20px;
    }

    .intro-wrapper {
        width: 90%;
        background-size: 90% 100%;
    }

    #yangImage  {
        width: 30%;
        height: 85%;
        margin-left: -10%;
    }
  }
  
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
    .name {
        font-size: 30px;
    }

    .direction {
        font-size: 20px;
    }

    .title {
        font-size: 18px;
    }

    .bio-wrapper {
        font-size: 16px;
        margin-top: -20px;
    }
    
  }


@media only screen and (max-height: 600px),
            screen and (max-width: 800px) {

    .header {
        margin-top: 20px;
    }

    .direction {
        font-size: 16px;
        width: 80%;
        margin-top: 20px;
    }

    .name {
        font-size: 30px;
    }

    .title {
        font-size: 20px;
    }

    .bio-wrapper {
        font-size: 12px;
        margin-top: -20px;
    }

    .intro-wrapper {
        width: 90%;
        background-size: 90% 100%;
    }

    #yangImage  {
        width: 30%;
        height: 100%;
        margin-left: -10%;
    }
}