body {
    margin: 0
}

#container {
    font-family: Montserrat; 
}

.question {
    font-size: 26px;
    line-height: 1.8;
}

.walking-direction {
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 8px 20px; 
    background-color: #A8D0CE; 
    border-radius: 8px;
    max-width: 150px;
    display: none;
    z-index: 20;
}