#container {
    height: 100vh; 
    font-family: Montserrat; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 100%
}

.leftSlide-link {
    text-decoration: none;
    color: white
}

#leftSlide {
    z-index: 1; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5% 
}

#text {
    top: 0; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    position: absolute; 
    height: 20%; 
    width: 100%; 
    background-color: #E2E2E2; 
    padding-top: 20px;
}

#text-wrapper {
    width: 70%
}

.navigation {
    display: flex; 
    align-items: center; 
}

.keyboardGuideline {
    margin-right: 10px; 
    font-size: 18px;
}

.keys {
    display: flex; 
    align-items: flex-end;  
    z-index: 1;  
}

#arrow-keys {
    margin-right: 10px;
}

.row {
    display: flex; 
    justify-content: space-between; 
}

#arrow-left {
    padding: 8px; 
    margin-right: 10px; 
    border-radius: 8px;  
    width: 30px; 
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

#arrow-right {
    padding: 8px; 
    border-radius: 8px;  
    width: 30px; 
    height: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

#spaceBar {
    color: #688989; 
    font-weight: bold; 
    margin-left: 0px; 
    font-size: 16px;  
    padding: 8px; 
    border-radius: 8px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 30px; 
    text-align: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.question {
    font-weight: bold; 
    font-size: 22px; 
    line-height: 1.5;
}

#ground {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 80%
}

#balloons {
    display: flex; 
    justify-content: space-between;
}

#red {
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613074397/Group_33_ykzt4r.png); background-size: 100% 80%; 
    background-position: center; 
    background-repeat: no-repeat
}

#blue {
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613074399/Group_34_ong0lb.png); 
    background-size: 100% 80%; 
    background-position: center; 
    background-repeat: no-repeat
}

#purple {
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613074401/Group_35_uowx7d.png); 
    background-size: 100% 80%; 
    background-position: center; 
    background-repeat: no-repeat
}

.textInBalloon {
    margin-top: -100px; 
    text-align: center; 
    color: white; 
    width: 90%; 
    font-size: 24px; 
    font-weight: bold;
}

#cloud {
    width: 100%; 
    display: none
}

#incorrect {
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.left-cloud {
    position: absolute; 
    top: 20%; 
    left: 0; 
    z-index: 1
}

.right-cloud {
    position: absolute; 
    top: 2%; 
    left: 70%; 
    z-index: 1
}

#player {
    width: 100%; 
    z-index: 1; 
}

#playerImg {
    position: absolute; 
}

#land {
    top: 80%; 
    position: absolute; 
    width: 100%;
}

.landImg {
    width: 100%
}

#sky-landing {
    width: 100%; 
    display: none
}

#skyLandingImg {
    position: absolute; 
    top: 90%; 
    left: 30%
}

#summary {
    width: 80%; 
    height: 90vh;  
    z-index: 2; 
    border: 1px solid silver; 
    background-color: white; 
    display: none
}

#summary-wrapper {
    width: 60%;  
    position: absolute; 
    left: 20%; 
    top: 40%;   
}

.summary-text {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 22px;
}

.homeButton-link {
    text-decoration: none;
    color: white
}

.homeButton {
    border-radius: 20px; 
    font-family: Montserrat; 
    cursor: pointer; 
    border: none; 
    background-color: #111F47; 
    color: white; 
    padding: 10px 30px; 
    text-align: center; 
    font-size: 16px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }