body {
    margin: 0;
    font-family: Montserrat; 
}

#container {
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    position: relative
}

.bigOffice {
    position: absolute; 
    top: 0; 
    left: -0.3%; 
    margin-top: -10%
}

.info-icon {
    position: absolute; 
    top: 3%; 
    left: 1%; 
    cursor:pointer
}

.infoIconImg {
    width: 70%
}

#player {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    z-index: 15;
    align-items: center;
}

#playerImg {
    width: 70%; 
    height: 100%
}

#sparkling {
    position: absolute; 
    z-index: 4
}

.sparklingImage {
    width: 15%
}


.walking-direction {
    position: absolute;
    left: 5%;
    top: 10%;
    padding: 8px 20px; 
    background-color: #A8D0CE; 
    border-radius: 8px;
    max-width: 150px;
    display: none
}