body {
    margin: 0
}

#player {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    z-index: 15;
    align-items: center;
}

#playerImg {
    width: 40%; 
    height: 100%
}