body {
    margin: 0
}

#container {
    overflow: hidden; 
    position: relative;
    font-family: Montserrat; 
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    align-items: center; 
    width: 100vw;
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613785093/Group_160_uxai8d.png); 
    background-position: center; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.speakerIcon {
    font-size: 20px;  
    cursor: pointer; 
    width: 4%; 
    margin-top: 20px; 
    padding-bottom: 20px;
    z-index: 1
}

#header {
    margin-top: 40px; 
    width: 60%; 
    display: flex; 
    justify-content: center;  
    margin-bottom: 20px
}

.logo {
    width: 20%; 
    z-index: 1;
}

#platform {
    /* width: 100%;  
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1614367680/Group_254_pqzszn.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}



.each-balloon {
    position: absolute;
    z-index:2
}

.each-balloon.red {
    left: 59%;
    top: 1%

}

.each-balloon.yellow {
    left: 77%;
    top: 36%
}

.each-balloon.green {
    left: 42%;
    top: 36%
}

#welcome {
    font-size: 26px; 
    margin-top: 20px;
}


#leftSlide1 {
    z-index: 10; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%
}

#infoIcon {
    position: absolute; 
    left: 2%; 
    top: 3%; 
    display: none; 
    cursor: pointer; 
    width: 5%
}

#hoverState {
    display: none; 
    position: absolute; 
    left: 7.5%; 
    top: 3%; 
    background-color: #DCEBEB; 
    padding: 15px 30px; 
    border-radius: 12px; 
    z-index: 2
}

#leftSlide2 {
    display: none; 
    z-index: 10; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%; 
    cursor: pointer
}

#leftSlide3 {
    display: none; 
    z-index: 10; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%; 
    cursor: pointer
}

#rightSlide1 {
    z-index: 10; 
    position: absolute; 
    left: 93.5%; 
    top: 45%; 
    width: 5%; 
    cursor: pointer
}

#rightSlide2 {
    display: none; 
    z-index: 10; 
    position: absolute; 
    left: 93.5%; 
    top: 45%; 
    width: 5%;
    cursor: pointer
}

#enter {
    color: #688989; 
    font-weight: bold; 
    margin-left: 10px; 
    font-size: 18px; 
    display: none; 
    padding: 8px; 
    border-radius: 8px;  
    width: 80px; 
    height: 40px; 
    text-align: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

.wrapper {
    width: 100%; 
    margin-top: 120px; 
    height: 100%; 
    display: flex; 
    align-items: flex-start; 
    justify-content: flex-start; 
    position: absolute;
    left: 10%; 
    top: 20px;
}

#instruction {
    max-width: 250px; 
    background-color: #A9D3D0; 
    border-radius: 10px; 
    padding: 30px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 20px; 
}

.tutorial {
    font-weight: bolder; 
    font-size: 18px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 20px;
}

#arrowKeyHolder {
    width: 190px; 
    height: 140px
}

.row-top {
    width: 190px; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px;
}

#arrow-up {
    padding: 8px; 
    border-radius: 8px;  
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

#bigOffice {
    display: none
}

#bigOfficeImg {
    position: absolute; 
    top: 0; 
    left: 0; 
    margin-top: -10%
}

#bigTable, #smallTable, #arrayTable, #backDrawer, #frontDrawer {
    position: absolute; 
    z-index: 3;
}

#arrow-icon {
    width: 30px; 
    height: 20px
}

#arrow-icon.leftRight {
    width: 20px; 
    height: 30px
}

.row-bottom {
    display: flex; 
    justify-content: space-between; 
    width: 190px 
}

#arrow-left {
    padding: 8px; 
    border-radius: 8px;  
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#arrow-down {
    padding: 8px;  
    border-radius: 8px;  
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

#arrow-right {
    padding: 8px; 
    border-radius: 8px;  
    width: 40px; 
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

#office {
    width: 65%; 
    height: 100%;
    display: flex; 
    position: absolute;
    top: 20%;
    left: 35%;
    flex-direction: column;
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1614642396/Group_146_pkvvon.png); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

#player {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    z-index: 3;
    align-items: center;
}

#playerImg {
    width: 65%; 
    height: 100%
}

#sparkling {
    position: absolute; 
    display: none;
    z-index: 4
}

.sparklingImage {
    width: 15%
}

.sparklingImage.inText {
    width: 10%
}

#detail-instruction {
    z-index: 1; 
    display: none; 
    background-color: #A8D0CE; 
    color: black; 
    width: 60%; 
    height: 60vh; 
    padding: 60px
}

.text-wrapper {
    width: 80%; 
    margin-top: 60px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.walking-direction {
    position: absolute;
    left: 10%;
    top: 12%;
    padding: 8px 20px; 
    background-color: #A8D0CE; 
    border-radius: 8px;
    max-width: 100px;
    display: none
}

#keys {
    display: flex; 
    align-items: flex-end;
}

.inner-text {
    margin-top: 40px; 
    line-height: 2; 
    font-size: 22px; 
    text-align: center; 
    font-weight: 500;
}

#enter {
    color: #688989; 
    font-weight: bold; 
    margin-left: 10px; 
    font-size: 18px;  
    padding: 8px; 
    border-radius: 8px; 
    display: none; 
    width: 80px; 
    height: 40px; 
    text-align: center; 
    background-color: #EFF5F5; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

@media only screen and (max-width: 1000px) {
    .wrapper {
      left: 0
    }
}
  
@media only screen and (max-width: 700px) {
    
}