body {
    margin: 0
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    min-height: 100vh;
    font-family: Montserrat;
    background: #DCEBEB;
}

.logo-container {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 30%
}

.main {
    background-color: #A9D3D0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70vh
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.question {
    line-height: 42px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

#screen-reader {
    width: 20px;
    height: 20px;
    outline: none;
    background:transparent;
}

.option {
    font-weight: 500;
}

#polygon {
    position: absolute; 
    left: 10%; 
    top: 6%; 
    width: 5%
}

#group1 {
    position: absolute; 
    right: 18%; 
    top: -6%; 
    width: 10%
}

#group2 {
    position: absolute; 
    right: 4%; 
    top: 86%; 
    width: 10%
}

#ellipse {
    position: absolute; 
    left: 2%; 
    top: 93%; 
    width: 17%
}


