body {
    margin: 0
}

#instruction {
    position: relative;
}

#instruction:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30%;
    bottom: auto;
    border: 20px solid;
    z-index: 1;
    border-color:   transparent   transparent transparent #A8D0CE ;
}

#hoverState:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    left: -8px;
    top: 40%;
    bottom: auto;
    border: 15px solid;
    z-index: 1;
    border-color:   #DCEBEB transparent  transparent   transparent ;
}