body {
    margin: 0;
    height: 100%;
}

.container {
    margin-left: 0; 
    margin-right: 0; 
    width: 100%; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    font-family: Montserrat; 
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1614273137/Mask_Group_5_uimgni.svg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    /* position: relative; */
    overflow: hidden;
    padding: 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   
}


#hamburger-menu {
    position: absolute;
    left: 95%;
    top: 3%;
    width: 3%;
    z-index: 20
  }

#leftSlide {
    z-index: 1; 
    position: absolute; 
    left: 2%; 
    top: 45%; 
    width: 5%
}

#group4 {
    position: absolute; 
    left: -5%; 
    top: 15%; 
    width: 10%; 
}

#rect {
    position: absolute; 
    left: 30%; 
    top: -4%; 
    width: 5%
}

#polygon {
    position: absolute; 
    left: 75%; 
    top: 10%; 
    width: 5%
}

#ellipse {
    position: absolute; 
    left: 97%; 
    top: 60%; 
    width: 10%
}

.top {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.header {
    width: 100%; 
    display: flex; 
    justify-content: center; 
}

.logo {
    width: 30%; 
    z-index: 1;
}

.direction {
    width: 60%; 
    margin: 20px 0; 
    text-align: center; 
    color: #1E2228;
    line-height: 45px;
}

.speakerIcon {
    font-size: 20px; 
    margin-bottom: 20px; 
    cursor: pointer; 
    width: 10%; 
    margin-top: 0px;
}

.characters {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
   padding: 0
} 

.character {
    width: 20%;
    padding: 40px 
}

.black-male {  
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613685445/Group_56_mfmrwe.png); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    
}

.women-in-tech {   
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613685529/Group_79_k9x6xx.png); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.trans-gender {
    background-image: url(https://res.cloudinary.com/dfulxq7so/image/upload/v1613685450/Group_58_s9dmk9.png); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

.content {
    font-family: Montserrat;  
    font-size: 18px;   
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.title {
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.characterImage-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 10px 0 30px 0; 
}

.characterImage {
    width: 100%; 
    
}

.characterButton-link {
    color: white; 
    text-decoration: none; 
    height: 50px;
}

.characterButton {
    border-radius: 20px; 
    cursor: pointer; 
    padding: 7px 30px; 
    border: none; 
    background-color: #111F47; 
    color: white; 
    text-align: center; 
    font-size: 16px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}


@media only screen and (max-width: 1200px) {
    .title {
      font-size: 16px !important;
    }

    .characterButton {
        font-size: 14px; 
    }

    .direction {
        font-size: 20px;
    }
  }

@media only screen and (max-width: 1350px) and (min-width: 1200px) {
    .direction {
        font-size: 18px;
    }
  }

@media only screen and (max-height: 400px) {
    .characterButton-link {
        display: none
    }

    .direction {
        margin: 10px;
        font-size: 12px;
    }

    .character {
        margin-top: 10px;
        /* height: 80vh */
    }
}

@media only screen and (max-height: 700px)  and (min-height: 401px) {
    .header {
        margin-top: 40px
    }
    .direction {
        margin: 10px;
        font-size: 16px;
    }
    .character {
        /* height: 70vh */
    }

  }

@media only screen and (max-height: 900px) and (min-height: 701px) {
    .character {
        height: 50vh
    }
}
  
@media only screen and (max-width: 700px) {
    .title {
      font-size: 12px !important;
      max-width: 80px;
    }

    .characterButton {
        font-size: 10px; 
    }

    .direction {
        font-size: 12px;
        width: 70%; 
    }
  }